.gitignore
.idea/
/out/
/lib/
/Helper for XML File Creation/
/greatlakes.zip Folder/
/BMWData/
/Dream Routes Data.xlsx
/BMW Issue 5 - Dream Routes.pdf
/Trip to Ashland OR.kmz
/resources/com/backesfamily/roadtrip/images/maps/
/resources/com/backesfamily/roadtrip/text/
/test/Paris Backup
/test/Paris_Tour BMW
